## Project 2- MISY408

This dataset includes quantitative and categorical features from online reviews from 21 hotels located in Las Vegas Strip, extracted from TripAdvisor. All the 504 reviews were collected between January and August of 2015.
Resource: https://www.kaggle.com/crawford/las-vegas-tripadvisor-reviews

**Question 1: In the following, type a code to create a DataFrame from a tripadvisor CSV File (name the dataframe df). Then display the first 5 rows of the df.**

In [7]:
import oss
import hotels as h



df = h.read_csv("tripadvisor.csv")
head()

ModuleNotFoundError: No module named 'oss'

In [5]:
pwd

'C:\\Users\\Meet\\MISY 408'

**Question 2: In the following, type a code to display the number of rows and columns of the df.**

**Question 3: In the following, type a code to display the list of columns in the df.**

**Question 4: In the following, type a code to sort the df by 'Score' in the ascending order.**

**Question 5: In the following, use .loc method to subset the first 5 rows of 'Score' and 'Traveler type' columns of the df, create a deep copy of it, and save it in df2. Then, sort df2 by 'Score' in the ascending order.**

**Question 6: In the following, use .iloc method to subset the first 5 rows of 'User country' and 'Nr. reviews' columns in the df, create a deep copy of it, and save it in df3. Then, sort df3 by 'Nr. reviews' in the descending order.**

**Question 7: In the following, use .loc method to subset the df dataframe to show 'Traveler type', 'Score', 'User country' columns  with these conditions:  'Traveler type' is Business and 'Score' is less than or equal to 5.** 
* **Create a deep copy of df, and save it in df4**
* **Display the first 5 rows of df4**

**Question 8: In the following, type a code to create a boolean column 'HighScore' in the df dataframe. The 'HighScore' has the value of True if 'Score' is greater than or equal to 4, otherwise its value is False. Display the first 20 rows of 'HighScore' column's values.**

**Question 9: Use .loc and conditional to create a new column 'ScoreCategory' in the df datafarme . If Score is less than 4, we will code it as 'Low.  If Score is greater than or equal to 4, we will code it as 'High'.**
* **Display the top 5 rows of 'Score' and 'ScoreCategory' columns in the output.**

**Question 10: In the following, type a code that counts the number of reviews for each 'Traveler type'  in the df dataftame.**

**Question 11: In the following, type a code to display average 'Score' for each 'Traveler type' in the df dataframe.**

**Question 12: In the following,  type a code to display the average 'Nr. reviews' and average 'Score' for each 'Traveler type' in the df dataframe.**  
(Please make sure that your output  should display average 'Nr. reviews' and average 'Score' for each 'Traveler type' in **one table**.)