## Project 1 - MISY408 - Meet Patel

**Assume we have the following string:**

In [1]:
# Run this code
s='This is the first project'

**Question 1: In the following, Type a code to return 'This' from string s**

In [2]:
s[:4]

'This'

**Question 2: In the following, Type a code to return 'is the first' from string s**

In [3]:
s[5:17]

'is the first'

**Question 3: In the following, Type a code to concatenate string s with  string ' of MISY408'** 

After concatenation, your code should return the following string: 

'This is the first project of MISY408'

In [4]:
 s + ' of MISY408'

'This is the first project of MISY408'

**Question 4: In the following, Type a code to return the length of string s**

In [5]:
len(s)

25

**Assume we have the following list:**

In [7]:
#Run this code
my_list = ['MISY408', 'Fall', 2020, 'Python', 50]

**Question 5: In the following, Type a code to replace 2020 with 2021 in my_list and then dispaly my_list in the output**

In [8]:
my_list[2]=2021
print(my_list)

['MISY408', 'Fall', 2021, 'Python', 50]

**Question 6: In the following, Type a code to return ['Fall', 2021] from my_list**

In [9]:
my_list[1:3]

['Fall', 2021]

**Question 7: In the following, Type a code to return ['MISY408', 2021, 50] from my_list**

In [10]:
my_list[::2]

['MISY408', 2021, 50]

**Question 8: In the following, Type a code to add 'Business' at the end of my_list, then dispaly my_list in the output**

In [11]:
my_list.append('Business')
print(my_list)

['MISY408', 'Fall', 2021, 'Python', 50, 'Business']

**Question 9: In the following, Type a code to create dictionary my_dict with three keys (key1, key2, and key3).The first key's value should be 50, the second key's value should be 'MISY408', the third key's value should be [10, 'Hello', 20.5]. Then, dispaly my_dict in the output**

In [14]:
my_dict = {'key1':50,'key2':'MISY408', 'key3':[10,'Hello',20.5]}
print(my_dict)

{'key1': 50, 'key2': 'MISY408', 'key3': [10, 'Hello', 20.5]}

**Question 10:  In the following, Type a code to return key3's value from my_dict**

In [ ]:
my_dict.get('key3')

**Question 11: In the following, Type a code to replace key1's value with 60, , and then dispaly my_dict in the output.**

In [15]:
my_dict['key1']=60
print(my_dict)

{'key1': 60, 'key2': 'MISY408', 'key3': [10, 'Hello', 20.5]}

**Assume we have the following code:**

In [29]:
#Run this code
a=50
b= 'MISY408'
c='Fall'

**Question 12: In the following, Type a code to print the following phrase (make sure to use placeholders and format method to print the phrase):**

        We have 50 students in MISY408 class in the Fall semester.

In [22]:
print('We have {} students in {} class in the {} semester.'.format(a,b,c))

We have 50 students in MISY408 class in the Fall semester.

**Assume we have the following Code:**

In [26]:
list1=[12,13,17,19,22,27,28,50]

**Question 13: In the following, Type a code to print the even numbers in list1 (even numbers are the numbers that are divisible by 2).**

In [28]:
for x in list1:
    if x % 2==0:
        print(x)

12
22
28
50

**Assume we have the following code:**

In [24]:
# Run this code
a=3.5
b=125

**Question 14: In the followng, Type a code that compares a and b and prints True or False depending on Whether the values of a and b are the same. Your output should be like the following phrase and should show True or False in front of the following phrase**

 Is a and b equal?

In [25]:
a==b

False